<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <article class="footer-data">
          
          <h2>Malena Rodriguez</h2>
          <p></p>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        <article class="footer-data">
         
          <h2>Francisca Garcia Altare</h2>
          <p></p>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        <article class="footer-data">
          
          <h2>Isabella Calandria </h2>
          <p></p>
        </article>
      </div>
    </div>
  </div>
</footer>