<header>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/perfil">Mi Perfil</a></li>
        <li><a href="/productos">Productos</a></li>
      </ul>
    </nav>
</header>