<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

<h2 class="col-12">
	<form action="/login" method="get">
      <label>Usuario (email):</label>
      <input type="email" name="usuario" required><br>

      <label>Contraseña:</label>
      <input type="password" name="contraseña" required><br>

      <label>
      <input type="checkbox" name="recordarme"> Recordarme
      </label><br>

      <button type="submit">Ingresar</button>
    </form>
</h2>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>




